CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
cmake-build-debug
.idea
build-avr
build-avr-dbg
build-avr-release
build-avr-relwdbg
build-aux
build-main
build_mutation
